.container {
  padding: 5%;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 45 ;
  //color: #00adb5;
  color: #FF5757
}

h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 35;
  color: #4a503d;
  text-align: justify;

}

h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 28;
  color: #4a503d;
  text-align: justify;
}