body {
  background-color: #fffafa;
}

// .container {
//   padding: 5%;
// }

.flex-container-port {
  display: inline-flex;
  flex-wrap: nowrap;
  font-family: 'Varela Round', sans-serif;
  justify-content: space-between;  
  color: #4a503d;
  font-size: 100%;
  padding-right: 100px;
  padding-left: 100px;
  margin-left: 50px;
  }

.flex-item-port {
  display: flex;
  width: 100%;
  align-content: flex-end;
  padding: 50px;
  // transition: all 0.4s ease;
  // &:hover {
   // transform: scale(1.25);
 // }
}

#foto {
  display: flex;
  width: 100%;
  align-content: flex-end;
  transition: all 0.4s ease;
  &:hover {
    transform: scale(1.25);
  }
}

#foto_arraial{
  margin-right: 77px;
  display: flex;
  width: 100%;
  align-content: flex-end;
  transition: all 0.4s ease;
  &:hover {
    transform: scale(1.25);
  }
}
.port-content-provi {
  margin-left: 150px; 
  margin-right: 120px;
  text-align: justify;
}

.port-content-msg {
  margin-left: 150px; 
  margin-right: 120px;
  text-align: justify;
}

.port-content-arraial {
  margin-left: 150px; 
  margin-right: 120px;
  text-align: justify;
}

@media (max-width: 800px) {
  .flex-container-port {
    flex-direction: column;
  }
}



