<head>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
</head>

<div class="footer">
<hr>
  <div class="footer-copyright">
    This webpage was made using Ruby on Rails, and you can check the code in here: <a href='https://github.com/RenataGrassi/MyPortfolio'>
        <i class="fab fa-github fa-1x"></i>
      </a>
  </div>
</div>