<div class='container'>
  <h1>Prazer, Renata :) </h1>

  <h3>
  Oceanógrafa, analista de dados e desenvolvedora web.<br>
  <br>


  <!-- Nesta página você encontra alguns dos meus projetos de desenvolvimento web, 
  e desafios relacionados à oceanografia dos quais venho participando.<br>
  -->
  </h3>


  <h1>...</h1>
  <h3>
  
  <!--Eu sou oceanógrafa e trabalho com os oceanos desde 2013.  <br>
  Num primeiro momento cheguei ao Python pela necessidade de saber manipular, fazer análises e tratar imensa quantidade de dados.  
  Posteriormente, por curiosidade e vontade de explorar mais esse mundo incrível e sem limites da tecnologia, conheci outras linguagens 
  e ferramentas como Ruby on Rails, Javascrip, CSS, HTML, SQL e Heroku, por exemplo.<br>
  <br>
  
  Atualmente eu concilio as duas profissões, e trabalho também construindo sites, blogs e aplicativos.
  Tenho gosto especial por ajudar pessoas em suas trajetórias de fazer uma ideia ou um projeto, sair do
  papel e dar vida e cores à ele, divulgando-o na grande rede.
  Sinta-se à vontade se quiser me escrever para conversarmos sem compromisso sobre um projeto que queira publicar na internet.
 --> 


  </h3>
  
</div>