<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Renata Grassi - Contact</title>
</head>

<div class=container-ff>
  <%# <div class="row no-gutters"> %>
    <div class='flex-item-icon'>
      <a href="mailto:renatagrassi.oc@gmail.com"> 
      <i class="far fa-envelope fa-5x"></i>
    </a>
    </div>

    <div class='flex-item-icon'>
      <a href='https://github.com/RenataGrassi'>
        <i class="fab fa-github fa-5x"></i>
      </a>
    </div>

    <div class='flex-item-icon'>
      <a href='https://www.linkedin.com/in/renata-grassi/'>
        <i class="fab fa-linkedin fa-5x"></i>
      </a>
    </div>
  <%# </div> %>
</div>