<%= provide(:turbolinks_cache, 'no-cache') %>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Renata Grassi - Portfolio</title>
</head>

<body>
<div class='col-s-12 col-md-6'>
  <div class='flex-container-port'>
    
      <div class="row no-gutters" style='margin-top: 20px; margin-bottom: 20px;'>
      <div class='flex-item-port'>
        <div class='col-s-12 col-md-6'> 
          <div id='foto'>                   
            <a href='https://github.com/FrancielledeAbreu/provi-hack-woman'>   
            <%= image_tag "provi_1.png", alt: "Provi HackWoman", width: "450"%> 
          </div>
            </a>                     
        </div>

        <div class='col-xs-12 col-md-6'>          
          <div class='port-content-provi'>

            <p style="margin-top: 0px;"> This Hackathon was organized by Provi in January 2021 and focused on boosting women´s careers. The purpose of the Hackathon was
            to create a product that would help junior professionals land their first job or find a job that best fits their career goals. 
            My colleagues and I created HackaWork in 3 intense days. It is a platform that connects companies and professionals by hosting 
            technology challenges. HackaWork makes the process easier for companies to find their ideal professional candidate and expands the 
            chances of a junior professional to be seen by potential future employers. Out of the 25 participating teams HackaWork 
            won the <strong> 1st prize </strong>. You can check the code by clicking on the image to the left. <br>
            <u>Team members</u>: Renata Grassi, Camila Cadete, Camila Araujo, Clarice Aoto, Fracielle Abreu e Amanda Bento.

           <!-- <p>Este Hackathon foi organizado pela Provi, em janeiro de 2021, e foi focado em impulsionar a carreira de mulheres. Foram mais de 300
            inscritas, e a proposta era criar um produto que auxiliasse profissionais juniores a conseguirem seu lugar
            no mercado de trabalho. Em 3 dias intensos de trabalho nasceu o HackaWork: uma plataforma que conecta empresas 
            e profissionais, e promove pequenos desafios relacionados à tecnologia, facilitando o processo de seleção e
            ampliando as chances do profissional junior de chegar até as empresas parceiras. Foi o <strong> 1º colocado </strong>
            entre 25 grupos participantes. <br><-->
            
          </div>        
      </div>
    </div>  
  </div>
</div>
  
  <!-- Segundo trabalho:> <-->  

<div class='flex-container-port'>
  <div class="row no-gutters" style='margin-top: 20px; margin-bottom: 20px;'>
      <div class='flex-item-port'>
        <div class='col-s-12 col-md-6'> 
          <div id='foto'>                   
            <a href='http://www.mulheresdosulglobal.com/'>   
            <%= image_tag "mulheres_do_sul_global.png", alt: "Mulheres do Sul Global", width: 450%> 
          </div>
            </a>                     
        </div>
                  

        <div class='port-content-msg'>
          <p>I was part of a volunteer project that created a website and a marketplace for the NGO 
          Mulheres do Sul Global. The NGO is dedicated to helping refugee women in Brazil to be 
          incorporated into society by teaching sewing and promoting several training courses. 
          Please visit the website by clicking on the image to the left to find out more information 
          about the NGO and take a look into our work.<br>
          <u>Team members</u>: Renata Grassi, Berenice Mahé, Bianca Ferreira


          <!--<p>Projeto voluntário super especial de criação de website e <i>market place </i> oara a ONG Mulheres do Sul
          Global. A ONG se dedica à auxiliar mulheres refugiadas no Brasil a serem incorporadas na sociedade, capacitando-as
          à função de corte e costura, promovendo cursos de capacitação. A ONG é situada no Rio de Janeiro, e tem uma linda história.
          Vale a pena visitar o site fazer umas comprinhas por la.</p><-->
        </div>        
      </div>
    </div>
  </div>
 </div>


<!-- Terceiro trabalho:> <-->  

<div class='flex-container-port'>
  <div class="row no-gutters" style='margin-top: 20px; margin-bottom: 20px;'>
      <div class='flex-item-port'>
        <div class='col-s-12 col-md-6'> 
          <div id='foto_arraial'>                   
            <a href='http://www.visitearraialdocabo.com.br/'>   
            <%= image_tag "arraial_2.png", alt: "Visite Arraial do Cabo", width: 380%> 
          </div>
            </a>                     
        </div>
                  
        <div class='port-content-arraial'>
          <p style="margin-top: 0px;">Me and my colleagues created a website for the Le Wagon web development Bootcamp in 
          September 2020. The website is dedicated to tourism services in the city of Arraial do Cabo,
          Brazil. On one hand, tourists can find offers for tours, accommodation, scuba diving, and 
          other services. On the other hand, entrepreneurs can make offers, but also use the 
          website as a management tool for their company. They can access a dashboard with their sales 
          information and budget statistics, and  have tools, such as automatic emailing and generation 
          of PDF documents, that facilitates their daily routine.

          <u>Note</u>: This site is a prototype and the information contained herein is only demonstrative.
          </p>

            <!--<p>Projeto de conclusão do bootcamp de <i> web development </i> do Le Wagon, apresentado em Setembro de 2020.
            O site é destinado à prestação de serviços de turismo da cidade de Arraial do Cabo - RJ. De um lado o turista poderia encontrar ofertas
            de passeio, hospedagem e outros serviços. Do outro, os empreendedores do setor poderiam fazer suas ofertas e contar com uma ferramenta
            de gestão de sua empresa, visualizando um <i> dashboard </i> com as informações de suas vendas e estatístcas orçamentárias, além de contar 
            com ferramentas que facilitariam sua rotina, como envio de emails automático e geração de documentos em PDF.
            <br>
            <br>
            <i> Obs: Este site é um protótipo, e as informações contidas nele são apenas demonstrativas.</i></p><-->

          </div>        
      </div>
    </div>
  </div>
</div>

</body>
