<%= provide(:turbolinks_cache, 'no-cache') %>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class='col-s-12 col-md-6'>
  <div class='flex-container-port'>
    
      <div class="row no-gutters" style='margin-top: 20px; margin-bottom: 20px;'>
      <div class='flex-item-port'>
        <div class='col-s-12 col-md-6'> 
          <div id='foto'>                   
            <a href='https://github.com/FrancielledeAbreu/provi-hack-woman'>   
            <%= image_tag "provi_1.png", alt: "Provi HackWoman", width: "450"%> 
          </div>
            </a>                     
        </div>

        <div class='col-xs-12 col-md-6'>          
          <div class='port-content-provi'>
            <p>Este Hackathon foi organizado pela Provi, em janeiro de 2021, e foi focado em impulsionar a carreira de mulheres. Foram mais de 300
            inscritas, e a proposta era criar um produto que auxiliasse profissionais juniores a conseguirem seu lugar
            no mercado de trabalho. Em 3 dias intensos de trabalho nasceu o HackaWork: uma plataforma que conecta empresas 
            e profissionais, e promove pequenos desafios relacionados à tecnologia, facilitando o processo de seleção e
            ampliando as chances do profissional junior de chegar até as empresas parceiras. Foi o <strong> 1º colocado </strong>
            entre 25 grupos participantes. <br>
            
          </div>        
      </div>
    </div>  
  </div>
</div>
  <!-- Segundo trabalho:> <-->  

<div class='flex-container-port'>
  <div class="row no-gutters" style='margin-top: 20px; margin-bottom: 20px;'>
      <div class='flex-item-port'>
        <div class='col-s-12 col-md-6'> 
          <div id='foto'>                   
            <a href='http://www.mulheresdosulglobal.com/'>   
            <%= image_tag "mulheres_do_sul_global.png", alt: "Mulheres do Sul Global", width: 450%> 
          </div>
            </a>                     
        </div>
                  
          <div class='port-content-msg'>
            <p>Projeto voluntário super especial de criação de website e <i>market place </i> oara a ONG Mulheres do Sul
            Global. A ONG se dedica à auxiliar mulheres refugiadas no Brasil a serem incorporadas na sociedade, capacitando-as
            à função de corte e costura, promovendo cursos de capacitação. A ONG é situada no Rio de Janeiro, e tem uma linda história.
            Vale a pena visitar o site fazer umas comprinhas por la.</p>
          </div>        
      </div>
    </div>
  </div>
</div>



<!-- Terceiro trabalho:> <-->  

<div class='flex-container-port'>
  <div class="row no-gutters" style='margin-top: 20px; margin-bottom: 20px;'>
      <div class='flex-item-port'>
        <div class='col-s-12 col-md-6'> 
          <div id='foto_arraial'>                   
            <a href='http://www.visitearraialdocabo.com.br/'>   
            <%= image_tag "arraial_2.png", alt: "Visite Arraial do Cabo", width: 380%> 
          </div>
            </a>                     
        </div>
                  
          <div class='port-content-arraial'>
            <p>Projeto de conclusão do bootcamp de <i> web development </i> do Le Wagon, apresentado em Setembro de 2020.
            O site é destinado à prestação de serviços de turismo da cidade de Arraial do Cabo - RJ. De um lado o turista poderia encontrar ofertas
            de passeio, hospedagem e outros serviços. Do outro, os empreendedores do setor poderiam fazer suas ofertas e contar com uma ferramenta
            de gestão de sua empresa, visualizando um <i> dashboard </i> com as informações de suas vendas e estatístcas orçamentárias, além de contar 
            com ferramentas que facilitariam sua rotina, como envio de emails automático e geração de documentos em PDF.
            <br>
            <br>
            <i> Obs: Este site é um protótipo, e as informações contidas nele são apenas demonstrativas.</i></p>
          </div>        
      </div>
    </div>
  </div>
</div>
 
  
</body>
