<%= provide(:turbolinks_cache, 'no-cache') %>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class='flex-container-port'>
    
      <div class="row no-gutters" style='margin-top: 20px; margin-bottom: 20px;'>
        <div class='flex-item-port'>
          <div class='col-s-12 col-md-6'>                    
            <a href='https://github.com/FrancielledeAbreu/provi-hack-woman'>   
            <%= image_tag "provi_1.png", alt: "Provi HackWoman", width: "450"%> 
            </a>                     
          </div>
          <%# <div class='flex-item-port'> %>
          
            <div class='port-content'>
              <p>texto de teste texto de teste  texto de teste< texto de teste</p>
            </div>
          <%# </div> %>
          
        </div>
      </div>


        <div class='col-xs-12 col-md-6'>
        
      
        </div>
    
  
 


  
  </div>
</body>
