<%= provide(:turbolinks_cache, 'no-cache') %>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
<h1><center> UK Hydrographic Office - Marine Innovation Challenge </center> </h1>

<div class='col-s-12 col-md-6'>
  <div class='flex-container-port'>
    
      <div class="row no-gutters" style='margin-top: 20px; margin-bottom: 20px;'>
      <div class='flex-item-port'>
        <div class='col-s-12 col-md-6'> 
          <div id='foto'>                   
            <a href='https://github.com/RenataGrassi/UKHO_Challenge'>   
            <%= image_tag "cirad.png", alt: "UKHO_Challenge", width: "350"%> 
          </div>
            </a>                     
        </div>

        <div class='col-xs-12 col-md-6'>          
          <div class='port-content-provi'>
            <p>Este Hackathon foi organizado pela Provi, em janeiro de 2021, e foi focado em impulsionar a carreira de mulheres. Foram mais de 300
            inscritas, e a proposta era criar um produto que auxiliasse profissionais juniores a conseguirem seu lugar
            no mercado de trabalho. Em 3 dias intensos de trabalho nasceu o HackaWork: uma plataforma que conecta empresas 
            e profissionais, e promove pequenos desafios relacionados à tecnologia, facilitando o processo de seleção e
            ampliando as chances do profissional junior de chegar até as empresas parceiras. Foi o <strong> 1º colocado </strong>
            entre 25 grupos participantes. <br>
            
          </div>        
      </div>
    </div>  
  </div>
</div>


<div class='container-pro'>
  <div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle">Our solution</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <h4>
          QUnit is by calling one of the object that are embedded in JavaScript, and faster JavaScript program could also used with
          its elegant, well documented, and functional programming using JS, HTML pages Modernizr is a popular browsers without
          plug-ins. Test-Driven Development.
        </h4>
      </div>
    </div>
  </div>
</div>