<%= provide(:turbolinks_cache, 'no-cache') %>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Renata Grassi - Oceanography</title>
</head>

<body>
<h1><center> UK Hydrographic Office - Marine Innovation Challenge </center> </h1>

<div class='col-s-12 col-md-6'>
  <div class='flex-container-port'>
    
      <div class="row no-gutters" style='margin-top: 20px; margin-bottom: 5px;'>
      <div class='flex-item-port'>
        <div class='col-s-12 col-md-6'> 
          <div id='foto'>                   
            <a href='https://www.admiralty.co.uk/innovation-programme/coastal-inundation-challenge'>   
            <%= image_tag "cirad.png", alt: "UKHO_Challenge", width: "350"%> 
          </div>
            </a>                     
        </div>

        <div class='col-xs-12 col-md-6'>          
          <div class='port-content-provi'>
            <p>The Admiralty Marine Innovation Programme was held virtually in March 2021, which addresses
             challenges and solutions related to ocean disturbances. This year’s theme revolved around
            “Assessing risk and resilience for coastal flooding”. My group chose to tackle the issues 
            related to the sea level rise on Anguilla island located in the Caribbean. Within 3 weeks we 
            developed a tool that uses satellite data and Reanalysis dataset in order to create an alert 
            system that can be used to warn the population about hazards in that region. Our prototype was 
            the runner-up in the program. <br>
            <u>Team members</u>: Renata Grassi, Felipe dos Santos, Ana Carolina Cupolilo           
          </div>        
      </div>
    </div>  
  </div>
</div>


<div class='container-pro'>
  <div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle">Know more about our solution</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <h4> 
         We developed  CIRAD (Coastal Inundation Risk Assessment and Display tool). It is a GIS prototype tool,
        based on Reanalysis ERA5 hourly Dataset and SAR images (Radar frequency: 5405 MHz). After evaluating 
        the critical areas on Anguilla and analyzing the netCDF data from ERA5, we set waves, wind, and 
        precipitation values that we agreed to be potentially harmful. Using Python, we applied masks 
        (filters) to be our alert level 1 (more dangerous) and 2 (warning alert) and 
        applied those masks in the Anguilla´s map. The result can be seen in QGis software.
        </h4>

        <div class='anguilla'>                   
            <%= image_tag "anguilla.png", alt: "Anguilla Map", width: "280"%> 
        </div>
       
      </div>
    </div>
  </div>
</div>