
.footer {
  //position: absolute;
  //background: #F4F4F4;
  //display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  //padding: 0px 50px;
  padding-top: 20%;
  color: rgba(0,0,0,0.3);
}

.footer-copyright {
  text-align: end;
  padding-top: 0;
}

#CounterVisitor {
  text-align: left;
  color: white;
}