body {
  background-color: #171616;
  margin-bottom: 20 px;
}


.logo {
  text-align: center;
  height: 290px;
}

.flex-container {
  //display: flex;
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  color: #aa2b1d;
  font-size: 200%;
  font-family: 'Varela Round', sans-serif;
  // font-family: 'M PLUS Rounded 1c', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  justify-content: space-between;  
  margin-bottom: 20% ;
  // margin: -12px 0 0 -12px;
  margin-right: 100px;
  width: 90%;
  padding-right: 300px;
  }

  .flex-item  {
    color: #aa2b1d ;
    margin-right: 100px ;
    border: none !important;
    outline : none;
       &:hover {
      color: rgb(243, 233, 233);
      border-color: rgb(82, 78, 78);
      font-weight: 700 !important;
    }
  }
  
  .link {
    text-decoration: none !important;
    font-family: 'Varela Round', sans-serif;
  }
