body {
  // background-color: #171616;
  background-color: #FFFFFF;
  margin-bottom: 20 px;
}


.logo {
  text-align: center;
  //height: 190px;
  }

.flex-container {
  //display: flex;
  display: inline-flex;
  flex-wrap: nowrap;
  font-weight: bold;
  //flex-direction: row;
  align-items: center;
  color: #4a503d;
  // color: #aa2b1d;
  font-size: 200%;
  font-family: 'Varela Round', sans-serif;
  justify-content: space-between;  
  width: 90%;
  padding-right: 0px;
  padding-left: 100px;
  }

  .flex-item  {
    // color: #aa2b1d ;
    color: #4a503d;
    margin-right: 100px ;
    margin-bottom: 100px;
    border: none !important;
    outline : none;
       &:hover {
     // color: #00adb5;
      color: #631EEC;
      font-weight: 700 !important;
    }
  }
  
  .link {
    text-decoration: none !important;
    font-family: 'Varela Round', sans-serif;
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      font-size: medium;
      padding-left: 70px;
    }
  }

  @media (max-width: 800px) {
    .flex-item {
      margin-bottom: 30px;
    }
  }